<!DOCTYPE html>
<html lang="en">
  <body>
    <<%= locals.player.class %> class="player">
      <div id="player-img-wrapper">
        <img src="/img/player/<%= locals.player.id %>.jpeg" alt="<%= locals.player.name %>" />
      </div>
      <span id="player-name"><%= locals.player.name %></span>
    </<%= locals.player.class %>>
  </body>
</html>
