<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="public/styles/match.css" />
  </head>
  <body>
    <div id="container">
      <div id="info">
        <div id="logos">
          <div class="team">
            <div class="logo-wrapper">
              <img class="logo" src="/public/img/team/inter.svg" alt="Inter" />
            </div>
            <span>Inter</span>
          </div>
          <img id="versus" src="/public/img/versus.svg" alt="Versus" />
          <div class="team">
            <div class="logo-wrapper">
              <img
                class="logo"
                src="/public/img/team/<%= locals.team.id %>.svg"
                alt="<%= locals.team.name %>"
              />
            </div>
            <span><%= locals.team.name %></span>
          </div>
        </div>
        <div class="column">
          <span id="championship"><%= locals.championship %></span>
          <div class="row">
            <div>
              <img
                id="location"
                src="public/img/location.svg"
                alt="Localização"
              />
              <span id="stadium"><%= locals.stadium.name %></span>
            </div>
            <div class="column">
              <span class="date"><%= locals.matchDay %></span>
              <span class="date">às <span><%= locals.matchTime %></span></span>
            </div>
          </div>
        </div>
      </div>
      <div id="manager-box">
        <span>Téc: </span>
        <%- include('player', {player: locals.manager}); %>
      </div>
      <span>
        <% locals.formationPlayers.forEach(function(item) { %> <%-
        include('player', {player: item}); %> <% }); %>
      </span>
    </div>
  </body>
</html>
