<!DOCTYPE html>
<html lang="en">
  <body>
    <<%= locals.player.class %> class="player">
      <div id="player-img-wrapper">
        <img src="https://ik.imagekit.io/pih9s4vgiorh/players/<%= locals.player.id %>.jpeg?tr=w-256,h-256,fo-face" alt="<%= locals.player.name %>" />
      </div>
      <span id="player-name"><%= locals.player.name %></span>
    </<%= locals.player.class %>>
  </body>
</html>